{# {{ dump(account) }} #}
{# {{ dump(plaats) }} #}


<form class="ui form" method="POST">
    <h3 class="ui dividing header">Dag {{account.voornaam}}</h3>
    <input class="transition hidden" name="actie" readonly type="text" value="updateAccount">
    <div class="field">
        <div class="field">
            <label>E-mail</label>
            <input name="login[email]" placeholder="E-mail" type="email" value="{{account.email}}">
        </div>
        <div class="two fields">
            <div class="field">
                <label>Wachtwoord</label>
                <input name="login[wachtwoord1]" placeholder="Wachtwoord" type="password">
            </div>
            <div class="field">
                <label>Wachtwoord herhalen</label>
                <input name="login[wachtwoord2]" placeholder="Wachtwoord herhalen" type="password">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Telefoonnummer</label>
                <input name="login[telefoonnummer]" placeholder="0494123456" type="text"
                    value="{{account.telefoonnummer}}">
            </div>
            <div class="field">
                <label>Geboortedatum</label>
                <input name="login[geboortedatum]" placeholder="" type="date" value="{{account.geboortedatum}}">
            </div>
        </div>
    </div>
    <h4 class="ui dividing header">Adresgegevens</h4>
    <div class="field">
        <label>Naam</label>
        <div class="two fields">
            <div class="field">
                <input name="account[voornaam]" placeholder="Voornaam" type="text" value="{{account.voornaam}}">
            </div>
            <div class="field">
                <input name="account[naam]" placeholder="Familienaam" type="text" value="{{account.naam}}">
            </div>
        </div>
    </div>
    <div class="field">
        <label>Leveringsadres</label>
        <div class="fields">
            <div class="twelve wide field">
                <input name="levering[straat]" placeholder="Straat" type="text" value="{{account.adres}}">
            </div>
            <div class="four wide field">
                <input name="levering[nummer]" placeholder="Nummer" type="text" value="{{account.huisnummer}}">
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Postcode</label>
            <input name="levering[postcode]" placeholder="Postcode" type="text" value="{{plaats.postcode}}">
        </div>
        <div class="field">
            <label>Gemeente</label>
            <input name="levering[gemeente]" placeholder="Gemeente" type="text" value="{{plaats.plaats}}">
        </div>
    </div>
    <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <input name="voorwaarden" type="checkbox">
                <label>Ik accepteer de
                    <a href="#">voorwaarden</a>
                </label>
            </div>
        </div>
    </div>
    <div class="ui button submit button" tabindex="0">Pas account aan</div>
</form>