<h1 class="ui dividing header">Bestel</h1>
<div class="ui stackable two column grid">

    {% if mandProductLijst is defined  and mandProductLijst is not null %}
    <div class="column">
        <h2 class="ui dividing header">Winkelmandje</h2>
        {% set totaal = 0 %}
        <div class="ui items">
            {% for item in mandProductLijst %}
            <!-- {{ dump(item.product.bestandsdelen) }} -->
            <div class="item">
                <div class="ui small image">
                    <img src="https://via.placeholder.com/300x200">
                </div>
                <div class="content">
                    <div class="header">{{ item.product.product.naam }}</div>
                    <div class="meta">
                        <span class="price">€{{ item.product.prijs }}</span>

                        {% set formaat = item.product.bestandsdelen.0 %}
                        {% set bodem = item.product.bestandsdelen.1 %}
                        {% set saus = item.product.bestandsdelen.2 %}

                        <span class="formaat">{{ formaat.naam }}</span>
                        <span class="bodem">{{ bodem.naam }}</span>
                        <span class="saus">{{ saus.naam }}</span>
                    </div>
                    <div class="description">
                        <p>
                            {{ item.product.product.omschrijving }}</br>
                        </p>
                    </div>
                    <div class="extra">
                        Ingredienten:
                        {% for ingredient in item.product.bestandsdelen.3 %}
                        {{ ingredient.naam }}
                        {% endfor %}<br>
                    </div>
                </div>
            </div>
            {% set totaal = totaal + item.product.prijs %}

            <form action="?" class="ui form left floated eerste" method="POST">
                <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
                <input class="transition hidden" name="actie[sub]" readonly type="text" value="verwijderProduct">
                <input class="transition hidden" name="idProduct" readonly type="text" value="{{ item.idProduct }}">
                <div class="ui button submit button" tabindex="0">Verwijder</div>
            </form>
            <form action="mijnpizza.php" class="ui form left floated " method="POST">
                <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
                <input class="transition hidden" name="actie[sub]" readonly type="text" value="updateProduct">
                <input class="transition hidden" name="idProduct" readonly type="text" value="{{ item.idProduct }}">
                <button class="ui button submit button" tabindex="0">Pas aan</button>
            </form>
            <div class="ui hidden divider"></div>

            {% endfor %}
        </div>


        <div class="ui header">Het totaalbedrag is €{{ totaal }}</div>
    </div>
    {% endif %}

    {% if account is defined and account is not null %}
    {# toon account #}
    <div class="column">
        <h2 class="ui dividing header">Je accountgegevens</h2>
        <div class="ui items">
            <div class="item">
                {# <a class="ui tiny image">
                    <img src="/images/avatar/large/stevie.jpg">
                </a> #}
                <div class="content">
                    <div class="header">Adres</div>
                    <div class="description">
                        {{account.voornaam }} {{ account.naam }}<br>
                        {{ account.adres }} {{account.huisnummer}}<br>
                        {{plaats.postcode }} {{ plaats.plaats}}
                    </div>
                </div>
                <div class="content">

                    {# <div class="ui hidden divider"></div> #}
                    <div class="header">Contactgegevens</div>
                    <div class="description">
                        {{ account.telefoonnummer }} <br>
                        {{account.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% else %}
    {# account form voor in te vullen 
met eventuele registratie #}
    <div class="column">
        <h2 class="ui dividing header">Login of vervolledig je accountgegevens</h2>
        {% include "loginForm.twig" %}
        <div class="ui hidden divider"></div>
        {% include "registreerFormBestel.twig" %}
    </div>
    {% endif %}
</div>
{# Voltooi bestelling #}
<form action="?" class="ui form" method="POST">
    <input class="transition " name="actie" type="hidden" value="plaatsBestelling">
    <input class="transition hidden" name="actie" disabled type="text" value="plaatsBestelling">

    <h3 class="ui dividing header">Bestelgegevens</h3>
    <div class="field">
        <div class="field">
            <label>Levertijd</label>
            <input type="datetime-local" name="levertijd" value="{{ defaultLevertijd }}" min="{{ minLevertijd }}"
                max="{{ maxLevertijd }}">
        </div>
        <div class="field">
            <label>Mededeling</label>
            <textarea name="mededeling" rows="3"
                placeholder="Iets waar we moeten op letten?&#x0a;Kloppen want de bel doet het niet? "></textarea>
        </div>
    </div>
    <div class="ui button submit button primary right floated " tabindex="0">Bestel</div>
</form>


{# {{ dump(account) }}
 {{ dump(winkelmand) }}
 {{ dump(postcode) }} #}


{# {{ dump(minLevertijd) }}
 {{ dump(defaultLevertijd) }}
 {{ dump(maxLevertijd) }} #}