<form action="?" class="ui form" method="POST">
    <h3 class="ui dividing header">Login</h3>
    <input class="transition hidden" name="actie" readonly type="text" value="loginAccount">
    <div class="two fields">
        <div class="field">
            <label>E-mail</label>
            <input name="login[email]" placeholder="E-mail" type="email" {% if email is defined %} value={{email}} {% endif %}>
        </div>
        <div class="field">
            <label>Wachtwoord</label>
            <input name="login[wachtwoord]" placeholder="Wachtwoord" type="password">
        </div>
    </div>
    <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <input name="onthoud" type="checkbox">
                <label>Othoud mijn e-mailadres
                </label>
            </div>
        </div>
    </div>
    <div class="ui button submit button" tabindex="0">Login</div>
</form>
