{# {{ dump(bestellingLijst)}} #}

{# {{ dump(bestellingLijnLijst) }} #}




<div class="ui items">
    {% for item in bestellingLijst %}
    <div class="item">
        <div class="ui small image">
            <img src="https://via.placeholder.com/300x200">
        </div>
        <div class="content">
            <div class="header">Nummer: {{ item.idBestelling }}</div>
            <div class="meta">
                <span class="price">€{{ item.prijs }}</span>
            </div>
            <div class="description">
                <p>
                    {% if item.mededeling is null %}
                    <span class="mededeling">Geen mededeling</span> 
                    {% else %}

                    <span class="mededeling">{{ item.mededeling}}</span>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>