<h3 class="ui dividing header">Kies je pizzashop</h3>
<form class="ui form" method="POST">
    <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
    <input class="transition hidden" name="actie[sub]" readonly type="text" value="kiesPostcode">
    <div class="field">
        <label>Postcode</label>
        <input name="postcode" type="text" {% if postcode is defined %} value="{{postcode}}" {% endif %}>
    </div>
    <div class="ui button submit button" tabindex="0">Verstuur postcode
    </div>
</form>
{% if postcode is defined and postcode is not null and geenBedrijfVoorPostcode != true %}
<div class="ui hidden divider"></div>
<form action="?" class="ui form" method="POST">
    <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
    <input class="transition hidden" name="actie[sub]" readonly type="text" value="kiesBedrijf">
    <div class="field">
        <label>Bedrijf</label>
        <div class="ui selection dropdown">
            <input type="hidden" name="bedrijfId"  {% if bedrijfId is defined %} value="{{bedrijfId}}" {% endif %}>
            <i class="dropdown icon"></i>
            <div class="default text">Kies een bedrijf</div>
            <div class="menu">
            {% for bedrijf in keuzeBedrijfLijst %}                
                <div class="item"  value="{{ bedrijf.idBedrijf }}" data-value="{{bedrijf.idBedrijf}}">{{bedrijf.bedrijfnaam}} - {{ bedrijf.adres }} {{ bedrijf.huisnummer}}</div>
            {% endfor %}
                {# <div class="item" data-value="{{bedrijfId}}">bedrijf {{bedrijfId}}</div> #}
            </div>
        </div>
        {# <input name="bedrijfId" type="text" {% if bedrijfId is defined %} value="{{bedrijfId}}" {% endif %}> #}
    </div>
    <div class="ui button submit button" tabindex="0">Verstuur bedrijf
    </div>
</form>
{% if mandProductLijst is defined  and mandProductLijst is not null %}
<h2 class="ui dividing header">Winkelmandje</h2>

{% set totaal = 0 %}
    <div class="ui items">
{% for item in mandProductLijst %}
        <div class="item">
            <div class="ui small image">
            <img src="https://via.placeholder.com/300x200">
            </div>
            <div class="content">
                <div class="header">{{ item.product.product.naam }}</div>
                <div class="meta">
                    <span class="price">€{{ item.product.prijs }}</span>
                    <span class="formaat">{{ item.product.bestandsdelen.0.naam}}</span>
                    <span class="bodem">{{ item.product.bestandsdelen.1.naam}}</span>
                    <span class="saus">{{ item.product.bestandsdelen.2.naam}}</span>
                </div>
                <div class="description">
                    <p>        
                        {{ item.product.product.omschrijving }}</br>
                    </p>
                </div>
                <div class="extra">
                    Ingredienten:
                    {% for ingredient in item.product.bestandsdelen.3 %}
                            {{ ingredient.naam }}                
                        {% endfor %}<br>
                </div>
            </div>
        </div>
{% set totaal = totaal + item.product.prijs %}
{# todo float left #}
<form action="?" class="ui form left floated eerste" method="POST">
    <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
    <input class="transition hidden" name="actie[sub]" readonly type="text" value="verwijderProduct">
    <input class="transition hidden" name="idProduct" readonly type="text" value="{{ item.idProduct }}">
    <button class="ui button submit button" tabindex="0">Verwijder</button>
</form>
<form action="mijnpizza.php" class="ui form left floated " method="POST">
    <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
    <input class="transition hidden" name="actie[sub]" readonly type="text" value="updateProduct">
    <input class="transition hidden" name="idProduct" readonly type="text" value="{{ item.idProduct }}">
    <button class="ui button submit button" tabindex="0">Pas aan</button>
</form>
<div class="ui hidden divider"></div>

{% endfor %}
    </div>
    <div class="ui header">Het totaalbedrag is €{{ totaal }} </div>

<form action="bestel.php"
    class="ui form" action="?" method="POST">
    <input class="transition hidden" name="actie[main]" readonly type="text" value="winkelmand">
    <input class="transition hidden" name="actie[sub]" readonly type="text" value="plaatsBesteling">
    <div class="ui button submit button positive labeled icon" tabindex="0">
    <i class="shopping cart icon"></i>Bestel
    </div>
</form>

{% endif %}
{% if productLijst is defined  and productLijst is not null %}
<h2 class="ui dividing header">Kies je pizza</h2>
    <div class="ui items">
    {% for item in productLijst %}
        <div class="item">
            <div class="ui small image">
            <img src="https://via.placeholder.com/300x200">
            </div>
            <div class="content">
                <div class="header">{{ item.product.product.naam }}</div>
                <div class="meta">
                    <span class="price">€{{ item.product.prijs }}</span>
                    <span class="formaat">{{ item.product.bestandsdelen.0.naam}}</span>
                    <span class="bodem">{{ item.product.bestandsdelen.1.naam}}</span>
                    <span class="saus">{{ item.product.bestandsdelen.2.naam}}</span>
                </div>
                <div class="description">
                    <p>        
                        {{ item.product.product.omschrijving }}</br>
                    </p>
                </div>
                <div class="extra">
                    Ingredienten:
                    {% for ingredient in item.product.bestandsdelen.3 %}
                            {{ ingredient.naam }}                
                        {% endfor %}<br>
                </div>
            </div>
        </div>
        <form action="?" class="ui form" method="POST"><input class="transition hidden" name="actie[main]" readonly type="text"
                value="winkelmand"><input class="transition hidden" name="actie[sub]" readonly type="text"
                value="kiesProduct"><input class="transition hidden" name="idProduct" readonly type="text"
                value="{{ item.idProduct }}">
            <div class="ui button submit button primary " tabindex="0">            
            Winkelmandje</div>
        </form>
        <div class="ui hidden divider"></div>
    {% endfor %}
    </div>
{% endif %}
{% endif %}



 {# {{ dump(idBedrijfLijst) }} #}

 {# {{ dump(keuzeBedrijfLijst) }} #}

{# <h4>Winkelmand</h4>{{ dump(winkelmand) }} #}{# <h4>ProductLijst</h4>{{ dump(productLijst)}} #}{# <h4>Mand</h4>{{ dump(mandProductLijst)}} #}