{# {{ dump(idProduct) }} #}

{# {{ dump(product.bestandsdelen) }} #}
{# {{ dump(ingredienten) }} #}
{# {{ dump(ingredientLijst) }} #}


<div class="ui items">
    <div class="item">
        <div class="ui small image">
            <img src="https://via.placeholder.com/300x200">
        </div>
        <div class="content">
            <div class="header">{{ product.product.naam }}</div>
            <div class="meta">
                <span class="price">€{{ product.prijs }}</span>
                <span class="formaat">{{ product.bestandsdelen.0.naam}}</span>
                <span class="bodem">{{ product.bestandsdelen.1.naam}}</span>
                <span class="saus">{{ product.bestandsdelen.2.naam}}</span>
            </div>
            <div class="description">
                <p>
                    {{ product.product.omschrijving }}</br>
                </p>
            </div>
            <div class="extra">
                Ingredienten:
                {% for ingredient in product.bestandsdelen.3 %}
                {{ ingredient.naam }}
                {% endfor %}<br>
            </div>
        </div>
    </div>
</div>

<form action="?" class="ui form" method="POST">
    <h3 class="ui dividing header">Pas je pizza aan</h3>

    <input class="transition hidden" name="actie" readonly type="text" value="nieuwProduct">
    <input class="transition hidden" name="idProduct" readonly type="text" value="{{idProduct}}">
    
    <div class="three fields">
        <div class="field">
            <label>Formaat</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="idFormaat" {% if product.bestandsdelen.0.idFormaat is defined %}
                    value="{{product.bestandsdelen.0.idFormaat}}" {% endif %}>
                <i class="dropdown icon"></i>
                <div class="default text">Kies je formaat</div>
                <div class="menu">
                    {% for formaat in formaatLijst %}
                    <div class="item" value="{{ formaat.idFormaat }}" data-value="{{formaat.idFormaat}}">
                        €{{ formaat.prijs }} - {{formaat.naam}} </div>
                    {% endfor %}
                </div>
            </div>
        </div><div class="field">
            <label>Bodem</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="idBodem" {% if product.bestandsdelen.1.idBodem is defined %}
                    value="{{product.bestandsdelen.1.idBodem}}" {% endif %}>
                <i class="dropdown icon"></i>
                <div class="default text">Kies je bodem</div>
                <div class="menu">
                    {% for bodem in bodemLijst %}
                    <div class="item" value="{{ bodem.idBodem }}" data-value="{{bodem.idBodem}}">
                        €{{ bodem.prijs }} - {{bodem.naam}} </div>
                    {% endfor %}
                </div>
            </div>
        </div><div class="field">
            <label>Saus</label>
            <div class="ui selection dropdown">
                <input type="hidden" name="idSaus" {% if product.bestandsdelen.2.idSaus is defined %}
                    value="{{product.bestandsdelen.2.idSaus}}" {% endif %}>
                <i class="dropdown icon"></i>
                <div class="default text">Kies je saus</div>
                <div class="menu">
                    {% for saus in sausLijst %}
                    <div class="item" value="{{ saus.idSaus }}" data-value="{{saus.idSaus}}">
                        €{{ saus.prijs }} - {{saus.naam}} </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="ui button submit button primary " tabindex="0">
        Pas pizza aan</div>
</form>