<form action="?" class="ui form" method="POST">
    <h3 class="ui dividing header">Vervolledig account</h3>
    <input class="transition hidden" name="actie" readonly type="text" value="registreerAccountBestel">
    
    <h4 class="ui dividing header">Adresgegevens</h4>
    <div class="field">
        <label>Naam</label>
        <div class="two fields">
            <div class="field">
                <input name="account[voornaam]" placeholder="Voornaam" type="text">
            </div>
            <div class="field">
                <input name="account[naam]" placeholder="Familienaam" type="text">
            </div>
        </div>
    </div>
    <div class="field">
        <label>Leveringsadres</label>
        <div class="fields">
            <div class="twelve wide field">
                <input name="levering[straat]" placeholder="Straat" type="text">
            </div>
            <div class="four wide field">
                <input name="levering[nummer]" placeholder="Nummer" type="text">
            </div>
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Postcode</label>
            <input name="levering[postcode]" placeholder="Postcode" type="text">
        </div>
        <div class="field">
            <label>Gemeente</label>
            <input name="levering[gemeente]" placeholder="Gemeente" type="text">
        </div>
    </div>
    <div class="two fields">
            <div class="field">
                <label>Telefoonnummer</label>
                <input name="login[telefoonnummer]" placeholder="0494123456" type="text">
            </div>
            <div class="field">
                <label>Geboortedatum</label>
                <input name="login[geboortedatum]" placeholder="" type="date">
            </div>
        </div>
    <h4 class="ui dividing header">Creëer een account?</h4>       
    <div class="extra">Optioneel voor het plaatsen van een bestelling
    </div>
    <div class="ui hidden divider"></div>
    <div id="registreerBijLogin" class="field ">
        <div class="field">
            <label>E-mail</label>
            <input name="login[email]" placeholder="E-mail" type="email">
        </div>
        <div class="two fields">
            <div class="field">
                <label>Wachtwoord</label>
                <input name="login[wachtwoord1]" placeholder="Wachtwoord" type="password">
            </div>
            <div class="field">
                <label>Wachtwoord herhalen</label>
                <input name="login[wachtwoord2]" placeholder="Wachtwoord herhalen" type="password">
            </div>
        </div>
    </div>
    <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <input name="voorwaarden" type="checkbox">
                <label>Ik accepteer de
                    <a href="#">voorwaarden</a>
                </label>
            </div>
        </div>
    </div>
    <div class="ui button submit button" tabindex="0">Vervolledig account</div>
</form>
