<h1>Test bestand</h1>

<h2>Var doorgeven</h2>
{{ dump(test) }}

<h2>Account</h2>
{{ dump(accountLijst) }}
{{ dump(accountById) }}
{{ dump(accountByEmail) }}

<h2>Plaats</h2>
{{ dump(plaatsLijst) }}
{{ dump(plaatsById) }}

<h2>Bestelling</h2>
{{ dump(bestellingLijst) }}
{{ dump(bestellingById) }}
{{ dump(bestellingByIdAccount) }}

<h2>BestellingLijn</h2>
{{ dump(bestellingLijnLijst) }}
{{ dump(bestellingLijnByIdPromotieLijn) }}
{{ dump(bestellingLijnByProductLijn) }}
{{ dump(bestellingLijnByIdBestelling) }}

<h2>Bedrijf</h2>
{{ dump(bedrijfLijst) }}
{{ dump(bedrijfById) }}

<h2>LeverLijn</h2>
{{ dump(leverLijnLijst) }}
{{ dump(leverLijnByIdBedrijf) }}
{{ dump(leverLijnByIdPlaats) }}

<h2>ProductLijn</h2>
{{ dump(productLijnLijst) }}
{{ dump(productLijnByIdBedrijf) }}
{{ dump(productLijnByIdProduct) }}

<h2>Product</h2>
{{ dump(productLijst) }}
{{ dump(productById) }}

<h2>Formaat</h2>
{{ dump(formaatLijst) }}
{{ dump(formaatById) }}

<h2>Bodem</h2>
{{ dump(bodemLijst) }}
{{ dump(bodemById) }}

<h2>Saus</h2>
{{ dump(sausLijst) }}
{{ dump(sausById) }}

<h2>IngredientLijn</h2>
{{ dump(ingredientLijnLijst) }}
{{ dump(ingredientLijnByIdIngredient) }}
{{ dump(ingredientLijnByIdProduct) }}

<h2>Ingredient</h2>
{{ dump(ingredientLijst) }}
{{ dump(ingredientById) }}

<h1>Joins</h1>
<h2>Bestelling</h2>
<h3>Basic BestellingLijst</h3>
{{ dump(bestellingBasicLijst) }}

<h2>Product</h2>
<h3>Volledig</h3>
{{ dump(mijnProduct) }}
